
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    
}

header {
    background-color: #0066cc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
}



.login-btn {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #004a99;
    cursor: pointer;
}

main {
    padding: 20px;
}

h2 {
    color: #0066cc;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: #004a99;
    cursor: pointer;
}
