/* Add some basic styling to the form */
#formN {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    background-color: #ffffff;
  }
 #hTwoText {
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 30px;
    color: #333333;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #555555;
  }
  input[type="email"],
  input[type="password"] {
    width: 70%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  }
  button[type="submit"] {
    background-color: #b2c28c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
  }
  button[type="submit"]:hover {
    background-color: #7f886f;
  }
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  .form-footer a {
    color: #b3ad65;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .form-footer a:hover {
    color: #98a06d;
  }