


/* Global styles */
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card button {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card button:hover {
    background-color: #333;
  }